@charset "UTF-8";
/*字体Start*/
@font-face {
  font-family: 'Effra-Regular';
  src: url("Effra-Regular.woff") format("woff"), url("Effra-Regular.ttf") format("truetype"), url("Effra-Regular.svg#Effra-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Effra';
  src: url("Effra.eot");
  src: url("Effra.woff2") format("woff2"), url("Effra.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Effra Bold';
  src: url("Effra Bold.eot");
  src: url("Effra Bold.woff2") format("woff2"), url("Effra Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Effra-Bold;
  src: url("Effra-Bold.woff") format("woff"), url("Effra-Bold.ttf") format("truetype"), url("Effra-Bold.svg#Effra-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*字体End*/
/*marin*/
.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt36 {
  margin-top: 36px; }

.ml-50 {
  margin-left: -50px; }

.ml4 {
  margin-left: 4px; }

.ml8 {
  margin-left: 8px; }

.ml15 {
  margin-left: 15px; }

.ml18 {
  margin-left: 18px; }

.ml28 {
  margin-left: 28px; }

.ml20 {
  margin-left: 20px; }

.ml34 {
  margin-left: 34px; }

.ml40 {
  margin-left: 40px; }

.mr4 {
  margin-right: 4px; }

.mr6 {
  margin-right: 6px; }

.mr8 {
  margin-right: 8px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr16 {
  margin-right: 16px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.mr40 {
  margin-right: 40px; }

.mr50 {
  margin-right: 50px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb11 {
  margin-bottom: 11px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb26 {
  margin-bottom: 26px; }

.mb152 {
  margin-bottom: 152px; }

.mAuto {
  margin: auto; }

/*marin End*/
/*padding*/
.pd15 {
  padding: 15px; }

.pl17 {
  padding-left: 17px; }

.pt20 {
  padding-top: 20px; }

.pt15 {
  padding-top: 15px; }

.pb15 {
  padding-bottom: 15px; }

.pr13 {
  padding-right: 13px; }

/*padding End*/
/*宽加高 Start*/
.wh100per {
  /*width: 100%;*/
  height: 100%; }

/*宽加高 End*/
/*宽度width*/
.w100per {
  width: 100%; }

.w20per {
  width: 20%; }

.w33per {
  width: 33.33%; }

.w40 {
  width: 40px; }

.w60 {
  width: 60px; }

.w64 {
  width: 64px; }

.w80 {
  width: 80px; }

.w90 {
  width: 90px; }

.w100 {
  width: 100px; }

.w110 {
  width: 110px; }

.w120 {
  width: 120px; }

.w136 {
  width: 136px; }

.w140 {
  width: 140px; }

.w160 {
  width: 160px; }

.w175 {
  width: 175px; }

.w188 {
  width: 188px; }

.w200 {
  width: 200px; }

.w220 {
  width: 220px; }

.w245 {
  width: 245px; }

.w280 {
  width: 280px; }

.w285 {
  width: 285px; }

.w300 {
  width: 300px; }

.w320 {
  width: 320px; }

.w400 {
  width: 400px; }

.w600 {
  width: 600px; }

.w764 {
  width: 764px; }

/*宽度width End*/
/*高度 height*/
.h100per {
  height: 100%; }

.h20 {
  height: 20px; }

.h30 {
  height: 30px; }

.h38 {
  height: 38px; }

/*高度 height End*/
/*行高 line-height*/
.lh20 {
  line-height: 20px; }

.lh26 {
  line-height: 26px; }

.lh30 {
  line-height: 30px; }

.lh34 {
  line-height: 34px; }

.lh38 {
  line-height: 38px; }

/*行高 line-height End*/
/* 省略号 */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden; }

/* 省略号 End */
/*min-width*/
.miw58 {
  min-width: 58px; }

.miw72 {
  min-width: 72px; }

.miw86 {
  min-width: 86px; }

.miw100 {
  min-width: 100px; }

.miw114 {
  min-width: 114px; }

.miw128 {
  min-width: 128px; }

/*min-width End*/
/*max-width*/
.mxw58 {
  max-width: 58px; }

.mxw72 {
  max-width: 72px; }

.mw86 {
  max-width: 86px; }

.mxw88 {
  max-width: 88px; }

.mxw100 {
  max-width: 100px; }

.mxw102 {
  max-width: 72px; }

.mxw114 {
  max-width: 114px; }

.mxw116 {
  max-width: 116px; }

.mxw130 {
  max-width: 100px; }

.mxw146 {
  max-width: 146px; }

.mxw128 {
  max-width: 128px; }

.mxw200 {
  max-width: 200px; }

/*max-width End*/
/*背景色 background*/
.bgf6f6f6 {
  background: #f6f6f6; }

/*背景色 background End*/
/*字体大小*/
.f12 {
  font-size: 12px; }

.fs14 {
  font-size: 14px; }

.fs18 {
  font-size: 18px; }

.fs20 {
  font-size: 20px; }

.fs24 {
  font-size: 24px; }

/*字体大小End*/
/*字体粗细*/
.fw400 {
  font-weight: 400; }

.fw600 {
  font-weight: 400; }

/*字体粗细End*/
/*表单*/
.disabled {
  cursor: not-allowed; }

.of-hide {
  overflow: hidden; }

/*表单End*/
/*图片*/
.img100per {
  width: 100%;
  height: 100%; }

/*图片End*/
/*浮动 Start*/
.left {
  float: left; }

.right {
  float: right; }

.clear-both {
  clear: both; }

.pseudo-clear:after {
  clear: both;
  display: block;
  content: ''; }

.pseudo-clear:before {
  clear: both;
  display: block;
  content: ''; }

/*浮动 End*/
/*display Start*/
.dis-none {
  display: none; }

.dis-none-imp {
  display: none !important; }

.dis-block {
  display: block; }

.dis-block-imp {
  display: block !important; }

.dis-inline {
  display: inline; }

.dis-inline-imp {
  display: inline !important; }

.dis-ib {
  display: inline-block; }

.dis-ib-imp {
  display: inline-block !important; }

.dis-table {
  display: table; }

.dis-cell {
  display: table-cell; }

/*display End*/
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.pos-rl {
  position: relative; }

.pos-ab {
  position: absolute; }

.underline {
  text-decoration: underline; }

.align-left {
  text-align: left; }

.align-left-imp {
  text-align: left !important; }

.val-middle {
  vertical-align: middle; }

.val-top {
  vertical-align: top; }

.pointer {
  cursor: pointer; }

.lh100per {
  line-height: 100%; }

.all-border-box * {
  box-sizing: border-box; }

.confirm-btn-mg {
  margin-right: 14px; }

.align-middle-imp {
  vertical-align: middle !important; }

.text-right-imp {
  text-align: right !important; }

.text-left-imp {
  text-align: left !important; }

/*button Start*/
.hn-smtlf-btn1 {
  display: inline-block;
  text-align: center;
  background: #32beff;
  color: #fff;
  width: 250px;
  height: 40px;
  line-height: 40px;
  border: none;
  font-size: 14px; }

.hn-smtlf-btn1:hover{
  color: #fff;
}

/*button End*/

/*# sourceMappingURL=hn-smartLife-common.css.map */
