ul,li{
    list-style-type:none;
}
.logo-nav{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}
.logo-nav.on{
    display: none;
}
.l1.havesub{
    float: left;
    padding:0 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
}
.l1.havesub a{
    color: #fff;
}
.l1.havesub a:hover{
    color: #028fcc;
    cursor: pointer;
}
.logo-xbh{
    width: 120px;
}